@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://dazum.app/fonts/Inter-Regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    src: url('https://dazum.app/fonts/Recoleta-Regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    src: url('https://dazum.app/fonts/Recoleta-SemiBold.woff2') format('woff2');
  }
}

:root {
  font-family: 'Inter', sans-serif;
}
